/*
    Application related styles
*/

#listOfTodos {
    list-style: none !important;
}

    #listOfTodos li {
        display: block;
        clear: both;
        width: 100%;
        padding: 10px;
        border: 1px solid #CCC;
        margin-top: 5px;
        margin-bottom: 5px;
    }

.todoList {
}

    .list-stat {
    }

        .list-name {

            font-size: 20px;
            padding-bottom: 2px;
            margin-bottom: 5px;
            border-bottom: 1px dashed #CCC;

        }

        .list-date-created {

        }

        .list-finished-items {

        }

        .list-remaining-items {

        }
