
<div class="page-header">

    <h1>
        <i class="fa fa-list"></i>
        Your To Do Lists
    </h1>
    <p class="lead"> Examine, sort and manage your to do lists</p>

</div>

<div class="row">
    <div class="col-xs-12">
        <div id="list-global-actions">
            <button class="btn btn-success">
                <i class="fa fa-plus">

                </i>

                Add New List
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">

        <div id="todoListWrapper">
            <ul id="listOfTodos">

                <li data-ng-repeat="list in TodoLists | filter:listQuery">

                    <div class="todoList">

                        <div class="row">
                            <div class=" col-xs-12">
                                <div class="list-name list-stat">
                                    <a href="#">
                                        {{list.Title}}
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class=" col-xs-6">
                                <div class="list-date-created list-stat">
                                    <span class="stat-name">
                                        <i class="fa fa-calendar"></i>
                                        Created On:
                                    </span>
                                    {{list.DateCreated | date:'MM/dd/yyyy @@ h:mma'}}
                                </div>
                            </div>

                            <div class=" col-xs-3">
                                <div class="list-stat list-finished-items">
                                    <span class="stat-name">
                                        <i class="fa fa-check-circle-o"></i>
                                        Finished Items:
                                    </span>
                                    {{list.CompletedItems}}
                                </div>
                            </div>

                            <div class="col-xs-3">
                                <div class="list-stat list-remaining-items">
                                    <span class="stat-name">
                                        <i class="fa fa-circle-o"></i>
                                        Remaining Items:
                                    </span>
                                    {{list.RemainingItems}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="list-actions">
                                    <span class="list-action">
                                        <button class="btn btn-primary" data-toggle="tooltip" title="List Details">
                                            <span class="fa fa-edit"></span>
                                        </button>
                                    </span>
                                    <span class="list-action">
                                        <button class="btn btn-danger" data-toggle="tooltip" title="Delete List">
                                            <span class="fa fa-trash-o"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>