<div class="page-header">
    <h1>
        <i class="fa fa-list"></i>
        <span>{{TodoList.Title}}</span>

        <span class="app-details-header-info">
            created on
            {{TodoList.DateCreated | date:'MM/dd/yyyy @@ h:mma'}}
        </span>

    </h1>

    <p>
        <span class="list-finished-items details-stat">
            <span>
                <i class="fa fa-check-circle-o"></i>
                {{TodoList.CompletedItems}}
            </span>
        </span>

        <span class="list-remaining-items details-stat">
            <span>
                <i class="fa fa-circle-o"></i>
                {{TodoList.RemainingItems}}
            </span>
        </span>
    </p>
</div>

<div class="row">

    <div class="col-xs-12">

        <ul id="item-list">
            <li class="list-item" data-ng-repeat="item in TodoList.Items">
                <div class="list-item-text">
                    {{item.Text}}
                </div>
                
                <div class="list-item-actions">
                    <span class="item-status">
                        <i class="fa" data-ng-class="checkItemStatus(item)">
                            
                        </i>
                    </span>
                </div>
                
            </li>
        </ul>

    </div>

</div>